---
import Layout from '../components/layout.astro';
---

<Layout
  title="NunnCorporation"
  description="Welcome to NunnCorporation.com"
  home
>
  <main>
    <h2>Welcome to NunnCorporation</h2>
    <p>We're working on something great. Check back soon!</p>
  </main>
</Layout>
